In [1]:
## Load packages
import sqlite3
import pandas as pd

In [2]:
## Connect to SQLite db
db_connect = sqlite3.connect('switrs.sqlite')

In [3]:
## Explore Collisions Table
sql_query = 'SELECT * FROM collisions LIMIT 100'
collisions_df = pd.read_sql(sql_query, db_connect)
collisions_df.head()

,case_id,jurisdiction,officer_id,reporting_district,chp_shift,population,county_city_location,special_condition,beat_type,chp_beat_type,...,bicyclist_injured_count,motorcyclist_killed_count,motorcyclist_injured_count,primary_ramp,secondary_ramp,latitude,longitude,collision_date,collision_time,process_date
0,0081715,1941,11342,212,5,7,1941,0,0,not chp,...,0,0,0,None,None,NaN,NaN,2020-03-14,07:45:00,2020-06-22
1,0726202,3600,8945,064,5,5,3612,0,0,not chp,...,0,0,0,None,None,NaN,NaN,2020-07-26,02:50:00,2020-09-30
2,3493128,9860,016616,None,2,9,3600,0,1,interstate,...,0,0,0,None,None,NaN,NaN,2008-01-02,15:15:00,2008-08-20
3,3495044,9540,17076,None,1,9,1900,0,1,interstate,...,0,0,0,None,None,NaN,NaN,2008-01-02,11:30:00,2008-11-10
4,3503560,4316,15949,52,5,6,4316,0,0,not chp,...,0,0,0,None,None,NaN,NaN,2008-01-07,08:36:00,2008-09-23

In [5]:
collisions_df.describe()

,jurisdiction,distance,intersection,state_highway_indicator,caltrans_district,state_route,postmile,ramp_intersection,tow_away,killed_victims,...,other_visible_injury_count,complaint_of_pain_injury_count,pedestrian_killed_count,pedestrian_injured_count,bicyclist_killed_count,bicyclist_injured_count,motorcyclist_killed_count,motorcyclist_injured_count,latitude,longitude
count,100.000000,100.000000,98.000000,100.000000,51.000000,51.000000,51.000000,6.000000,99.000000,100.0,...,100.000000,100.000000,100.0,100.0,100.0,100.0,100.0,100.00,2.000000,2.000000
mean,6868.140000,861.820000,0.255102,0.520000,6.137255,104.333333,25.392078,3.666667,0.535354,0.0,...,0.110000,0.250000,0.0,0.0,0.0,0.0,0.0,0.01,38.723960,-121.163415
std,3588.671587,1731.421594,0.438160,0.502117,2.375034,186.679261,20.925236,1.751190,0.501287,0.0,...,0.399368,0.657129,0.0,0.0,0.0,0.0,0.0,0.10,1.266527,0.747221
min,105.000000,0.000000,0.000000,0.000000,2.000000,4.000000,0.240000,1.000000,0.000000,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.00,37.828390,-121.691780
25%,2950.000000,0.000000,0.000000,0.000000,5.000000,5.000000,10.110000,2.500000,0.000000,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.00,38.276175,-121.427597
50%,9260.500000,105.000000,0.000000,1.000000,6.000000,36.000000,20.350000,4.500000,1.000000,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.00,38.723960,-121.163415
75%,9495.000000,1056.000000,0.750000,1.000000,8.000000,104.500000,32.120000,5.000000,1.000000,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.00,39.171745,-120.899233
max,9860.000000,11088.000000,1.000000,1.000000,11.000000,880.000000,90.500000,5.000000,1.000000,0.0,...,3.000000,5.000000,0.0,0.0,0.0,0.0,0.0,1.00,39.619530,-120.635050

In [6]:
collisions_df.columns

Index(['case_id', 'jurisdiction', 'officer_id', 'reporting_district',
       'chp_shift', 'population', 'county_city_location', 'special_condition',
       'beat_type', 'chp_beat_type', 'city_division_lapd', 'chp_beat_class',
       'beat_number', 'primary_road', 'secondary_road', 'distance',
       'direction', 'intersection', 'weather_1', 'weather_2',
       'state_highway_indicator', 'caltrans_county', 'caltrans_district',
       'state_route', 'route_suffix', 'postmile_prefix', 'postmile',
       'location_type', 'ramp_intersection', 'side_of_highway', 'tow_away',
       'collision_severity', 'killed_victims', 'injured_victims',
       'party_count', 'primary_collision_factor', 'pcf_violation_code',
       'pcf_violation_category', 'pcf_violation', 'pcf_violation_subsection',
       'hit_and_run', 'type_of_collision', 'motor_vehicle_involved_with',
       'pedestrian_action', 'road_surface', 'road_condition_1',
       'road_condition_2', 'lighting', 'control_device', 'chp_road_type',
       'pedestrian_collision', 'bicycle_collision', 'motorcycle_collision',
       'truck_collision', 'not_private_property', 'alcohol_involved',
       'statewide_vehicle_type_at_fault', 'chp_vehicle_type_at_fault',
       'severe_injury_count', 'other_visible_injury_count',
       'complaint_of_pain_injury_count', 'pedestrian_killed_count',
       'pedestrian_injured_count', 'bicyclist_killed_count',
       'bicyclist_injured_count', 'motorcyclist_killed_count',
       'motorcyclist_injured_count', 'primary_ramp', 'secondary_ramp',
       'latitude', 'longitude', 'collision_date', 'collision_time',
       'process_date'],
      dtype='object')

In [7]:
## Explore Parties table
sql_query = 'SELECT * FROM parties LIMIT 100'
parties_df = pd.read_sql(sql_query, db_connect)
parties_df.head()

,id,case_id,party_number,party_type,at_fault,party_sex,party_age,party_sobriety,party_drug_physical,direction_of_travel,...,other_associate_factor_2,party_number_killed,party_number_injured,movement_preceding_collision,vehicle_year,vehicle_make,statewide_vehicle_type,chp_vehicle_type_towing,chp_vehicle_type_towed,party_race
0,1,0081715,1,driver,1,female,35.0,H,H,N,...,None,0,0,proceeding straight,2007.0,FORD,None,None,None,other
1,2,0081715,2,driver,0,female,43.0,H,H,N,...,None,0,0,proceeding straight,2019.0,None,None,None,None,hispanic
2,3,0726202,1,driver,1,None,NaN,G,G,N,...,None,0,0,proceeding straight,2005.0,None,passenger car,01,None,None
3,4,3493128,1,driver,1,None,NaN,G,G,N,...,None,0,0,merging,NaN,None,other vehicle,47,01,None
4,5,3493128,2,driver,0,male,71.0,A,None,N,...,None,0,0,proceeding straight,2000.0,FREIGHTLINER,truck or truck tractor with trailer,25,31,white

In [8]:
parties_df.describe()

,id,party_number,at_fault,party_age,oaf_violation_section,party_number_killed,party_number_injured,vehicle_year
count,100.000000,100.000000,100.000000,87.000000,5.000000,100.0,100.000000,95.000000
mean,50.500000,1.550000,0.470000,44.264368,22124.400000,0.0,0.210000,2001.189474
std,29.011492,0.625631,0.501614,14.263679,293.677204,0.0,0.498381,5.758056
min,1.000000,1.000000,0.000000,15.000000,21658.000000,0.0,0.000000,1980.000000
25%,25.750000,1.000000,0.000000,33.500000,22107.000000,0.0,0.000000,1998.000000
50%,50.500000,1.000000,0.000000,43.000000,22107.000000,0.0,0.000000,2002.000000
75%,75.250000,2.000000,1.000000,54.500000,22350.000000,0.0,0.000000,2006.000000
max,100.000000,4.000000,1.000000,87.000000,22400.000000,0.0,3.000000,2019.000000

In [9]:
parties_df.columns

Index(['id', 'case_id', 'party_number', 'party_type', 'at_fault', 'party_sex',
       'party_age', 'party_sobriety', 'party_drug_physical',
       'direction_of_travel', 'party_safety_equipment_1',
       'party_safety_equipment_2', 'financial_responsibility',
       'hazardous_materials', 'cellphone_use', 'school_bus_related',
       'oaf_violation_code', 'oaf_violation_category', 'oaf_violation_section',
       'oaf_violation_suffix', 'other_associate_factor_1',
       'other_associate_factor_2', 'party_number_killed',
       'party_number_injured', 'movement_preceding_collision', 'vehicle_year',
       'vehicle_make', 'statewide_vehicle_type', 'chp_vehicle_type_towing',
       'chp_vehicle_type_towed', 'party_race'],
      dtype='object')

In [10]:
## Explore Victims table
sql_query = 'SELECT * FROM victims LIMIT 100'
victims_df = pd.read_sql(sql_query, db_connect)
victims_df.head()

,id,case_id,party_number,victim_role,victim_sex,victim_age,victim_degree_of_injury,victim_seating_position,victim_safety_equipment_1,victim_safety_equipment_2,victim_ejected
0,1,3495044,2,2,male,21.0,no injury,3,P,G,0
1,2,3495044,2,2,male,12.0,no injury,2,P,C,0
2,3,3507861,2,2,male,60.0,no injury,9,None,None,3
3,4,3511283,1,1,female,43.0,other visible injury,1,M,G,0
4,5,3511287,1,5,male,28.0,other visible injury,1,P,None,0

In [11]:
victims_df.describe()

               id  party_number  victim_age
count  100.000000    100.000000   93.000000
mean    50.500000      1.820000   34.086022
std     29.011492      0.946872   16.770611
min      1.000000      1.000000    0.000000
25%     25.750000      1.000000   21.000000
50%     50.500000      2.000000   31.000000
75%     75.250000      2.000000   48.000000
max    100.000000      5.000000   66.000000

In [12]:
victims_df.columns

Index(['id', 'case_id', 'party_number', 'victim_role', 'victim_sex',
       'victim_age', 'victim_degree_of_injury', 'victim_seating_position',
       'victim_safety_equipment_1', 'victim_safety_equipment_2',
       'victim_ejected'],
      dtype='object')

Things to look at:

* On what days are pedestrians involved in collisions?
* Are DUIs more likely on certain days?
* How has COVID19 changed collisions? Are different types of vehicles involved? At different times?
* What type/color of car/motorcycle is involved in the most crashes?
* Can we predict injuries based on the other variables in a collision?
* Are their more accidents around sunrise/sunset?